
body{
	
	background-image:url('https://cdn.pixabay.com/photo/2016/07/17/18/23/contact-us-1524408_960_720.png');
	
}


a{	border-radius:10px;
	text-decoration:none;
	background-color:black;
	color:white;
	text-align: center;
	padding:20px 40px;
	display:inline-block;
	
}

h1{
	
			text-align:center 
			
			
}

p{
	color:black
	
	
	
}	






	
